html {
    font-size: 62.5%; 
    font-family: Arial, sans-serif; 
}
/* Grundlegendes Styling für das Layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #d7cc2aed;
    color: #0d0d0d;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #0d0d0d;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ed963e;
    text-decoration: none;
}
main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #d7cc2aed;
    color: #0d0d0d;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Styling für die Münzgalerie */
#coin-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.coin-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    width: calc(33% - 2rem);
    box-sizing: border-box;
}

.coin-item img {
    max-width: 80%;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

/* Slider Styling */
.slider-container {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.coin-item {
    min-width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.coin-item img {
    max-width: 150px;
    margin: 0 auto;
    border-radius: 10px;
}

/* Navigation Buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
